@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>The Process succesful</h1>
<label>The value of Name is : @this.ViewData["Name"]</label>
